/* RESET */

html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

  .mainContainer {
    background-color:rgb(241, 236, 236);
    min-height: 100vh;
  }
  
  ol, ul {
    list-style: none;
  }
  
  /* NAV BAR */

  .navBar {
    display: flex;
    position: sticky;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: white;
    height: 8vh;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }

  .bold {
    font-weight: bold;
  }

  .navBarMenu p {
    cursor: pointer;
  }

  .navBarMenu a {
    text-decoration: none;
    color: black;
}

  .navBarMenu a:hover {
    font-weight: bold;
    color: black;
  }

  .navBarMenu {
    display: flex;
    gap: 20px;
  }

  .cartIcon {
    display: inline-flex; 
    cursor: pointer;
    padding: 10px;  /* adjust as needed */
    border-radius: 50%; /* this makes the circle */
    border: solid 1px black;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .cartIcon:hover {
    background-color: blue;
    color: white;
  }
  
  .cartItemNumber {
    display: flex;
    background: red;
    justify-content: center;
    align-items: center;
    font-size: small;
    position: absolute;
    color: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    bottom: 0;
    right: 0;
    transform: translate(20%, 20%);
  }

  /* MAIN CONTENT */

  .homeContainer {
    padding: 20px 50px;
  }

  .aboutContainer {
    padding: 20px 50px;
    text-align: justify;
  }

  .shopContainer {
    min-height: 92vh;
    padding: 20px 50px;
  }

  .cardContainer {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
    background-color: white;
    align-items: center;
    padding-bottom: 10px;
  }

  .itemsContainer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 1.5rem;
    margin: 20px 0;
  }

  .itemsContainer img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  .itemName {
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .itemButtons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .btn-add-to-cart {
    width: calc(100% - 40px) !important; 
    margin: 0 20px !important; 
  }

  .cartContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin: 50px 0;
    justify-content: flex-start;
    min-height: calc(92vh - 100px);
  }
  
  .cartCard {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 150px;
    width: 550px;
  }

  .imgCart {
    width: 250px;
  }

  .cartCardDesc {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .totalCart {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 150px;
  }

  
  @media screen and (min-width: 768px) {
    .itemsContainer {
      grid-template-columns: repeat(2, 1fr);
    }

  }

  @media screen and (min-width: 1440px) {
    .itemsContainer {
      grid-template-rows: 1fr;
      grid-template-columns: repeat(3, 1fr);
    }

  }